<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app/style/NavBar.css" />
    <title>Halaman | <%= title %>></title>
  </head>
  <body>
    <div class="NavBar">
      <div class="logo-space">
        <img src="/app/assets/icon/" alt="logo-pict" class="logo-pict" />
      </div>

      <div class="NavMenu">
        <div class="medsos" id="instagram">Instagram</div>
        <div class="medsos" id="github">GitHub</div>
        <div class="medsos" id="youtube">YouTube</div>

        <div class="tombol-tutup">
          <a>Tutup</a>
        </div>
      </div>

      <div class="tombol-buka">
        <a>Buka</a>
      </div>
    </div>
  </body>
</html>
